@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200;300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    max-width: 100%;
    background-color: beige;
    font-family: 'Handjet', cursive;
}

header {
    display: flex;
    
}